main {
    font-family: 'blogFont';
}

.container {
    display: flex;
    flex-direction: column;
}

#portada {
    width: 100%;
    display: block;
    margin: 2rem auto 0;
}

.btn-holder {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.b_button {
    font: 20pt "Baby Doll", "BabyDoll" !important;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    display: block;
    border: 4px solid black;
    width: fit-content;
    margin: 0.5em;
}

.b_button:hover {background-color: var(--hover);}
#b_sel {background-color: var(--enfasis1);}

.floating-icon-container {
    display: flex;
    flex-direction: row;
}

.social-icon-box {
    background-color: #f7f7f7;
    margin: 7px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#articulo {
    padding-left: 1em;
    color: var(--gris);
    padding: 0 1.5em;
}

#categoria {
    font-size: 18pt;
}
#titulo {
    font-size: 26pt;
    color: black;
}

#content {
    font-size: 14pt;
}

.share-text {
    margin-left: 7px;
}

#media-box {
    padding: 1em;
}

#content img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

#mas-contenido a{
    display: block;
    text-decoration: none;
    color: var(--enfasis1);
    font-size: 18pt;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
#mas-contenido{
    transition: transform 0.5s ease-in-out;
    width: fit-content;
    margin: 0 auto;
}
#mas-contenido:hover {
    transform: scale(1.1);
}
#mas-contenido img{
    display: block;
    width: fit-content;
    margin: 1em auto;
}

.otro {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.thumbnail {
    padding: 0 1.5em;
}
.otro-info {
    padding: 1.5em;
}
.otro-cat {color: var(--enfasis1);}
.otro-tit {font-size: 20pt;}
.otro-aut {padding: 0.5rem 0;}
.otro-res {
    color: var(--gris);
    font-size: 14pt;
}

#content {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#content>* {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (min-width: 600px) {
    #portada {
        width: max(500px,60vw);
    }
    .container {
        flex-direction: row;
        margin-bottom: 3em;
    }
    #media-box {
        padding: 0;
        margin-right: 1em;
        position: sticky;
        top: 35px;
    }
    .share-text {
        margin-right: 7px;
        text-align: right;
    }
    .floating-icon-container {
        flex-direction: column;
        align-items: end;
    }
    .social-icon-box {
        margin: 7px;
        justify-content: center;
        align-items: center;
    }
    #social-media {
        flex: 1;
    }
    #articulo {
        flex: 3;
        border-left: thick solid black;
    }
    #space {
        flex: 2.5;
    }
    #content img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    #mas-contenido a{
        font-size: 24pt;
    }
    .otro {
        flex-direction: row;
        margin: 1.5em 0;
    }
    .thumbnail{
        object-fit: contain;
        width: 50%;
    }
    .otro-info {
        padding: 0 1.5em;
    }
    #otrosarticulos-container {
        margin: 3em auto;
    }
}

@media (min-width: 1000px){
    #otrosarticulos-container {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 3em auto;
    }
    .otro-info{
        flex: 1;
        width: 22em;
        padding: 0 1.5em;
    }
    .otro {
        width: 50%;
    }
    .thumbnail{
        padding: 0;
    }
}