header {
	background-image: url(../media/pattern.png);
	background-color: black;
	padding-bottom: 2em;
}

#logo {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	color: white;
	font-size: 12pt;
}

#logo img{
	width: 350px;
}

#sky {
	display: flex;
	flex-direction: row;
}

#gif1, #gif2 {
	display: none;
}

nav {
	display: block;
	width: 78vw;
	height: 43.5vw;
	position: relative;
	margin: auto;
}

#admin-header {
	margin: 0 auto;
}

#admin-header a {
	text-decoration: none;
	font-size: 14pt;
	padding: 1em;
	color: var(--white);
}

#admin-header a:hover {
	color: var(--hover);
}

#admin-header .active {
	color: var(--enfasis1);
}

@media (min-width: 600px) {
	header {
		padding-bottom: 1em;
	}
	nav {
		width: 52vw;
		height: 29vw;
	}
	#logo img{
		width: 500px;
	}
	.star>a {
		font-size: 16pt;
	}
	#logo {
		font-size: 20pt;
		margin-bottom: 0;
	}
	#gif1, #gif2 {
		display: inline;
		width: 14vw;
		margin: 0 5vw;
	}
}
@media (min-width: 900px) {
	#logo img{
		width: 700px;
	}
	.star>a {
		font-size: 19pt;
	}
}

#star_path {
	width: 100%;
}

.star {
	transform-origin: center;
	transition: transform 0.5s;
	transform: translateX(-50%) translateY(-50%);
	animation: changeColor 1s infinite alternate;
}

.star:hover {
	transform: scale(1.3) translateX(-50%) translateY(-50%);
	background-color: white;
}
.star:hover a {
	color: white;
}

@keyframes changeColor {
	from {background-color: white;}
	to {background-color: var(--hover);}
}