#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileToUpload {
  display: none;
}

#images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
}

.imgbox {
  width: var(--img-size);
  border: 3px solid;
  box-sizing: content-box;
  margin: 1em;
}

.picbox {
  width: var(--img-size);
  height: var(--img-size);
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picbox>img {
  max-width:100%;
  max-height:100%;
}

.icon {
  text-decoration: none;
  display: block;
  padding: 1rem;
  background-color: black;
  color: white;
  flex-basis: 50%;
  text-align: center;
}

.icon:hover {
  background-color: gray;
}

.icon-box {
  display: flex;
  width: var(--img-size);
  margin: auto;
}

.description {
  height: 50px;
  overflow: hidden;
}

#descripcion {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.edit-imgbox {
  width: 80%;
  margin: 0 auto;
}

.edit-img {
  display: block;
  width: 50%;
  margin: 1em auto;
}

textarea.edit-desc {
  margin: 0 auto;
  display: block;
  width: 400px;
  font: 14pt 'BabyDoll';
}

#return-btn {
  display: block;
  font: 16pt BabyDoll;
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  margin: 0.5em auto;
  padding: 0.5em 1em;
  border: 4px solid var(--black);
  border-radius: 22px;
}