.container {
    display: flex;
}

#articulo {
    border-left: thick solid black;
    padding-left: 1em;
    color: var(--enfasis2);
    width: 75%;
}

#categoria {
    font-size: 18pt;
}
#titulo {
    font-size: 24pt;
    color: black;
}
