main {
    margin: 1.5em;
}

p {
    font-size: 14pt;
}

@media (min-width: 600px)  {
    main {
        width: 70%;
        margin: 1.5em auto;
    }
}

#cons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cons-container div{
    flex: 1;
}

#contact-image img{
    width: 100%;
}

input[type=text], input[type=email], textarea {
	display: block;
	background-color: var(--gris2);
	color: var(--gris);
	font: 16pt myFont;
	border-radius: 5px;
	border: none;
	margin: 0.5em 0;
	width: 100%;
	padding: 5px;
}

.dato {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
    font: 18pt 'blogFont';
}

.dato > div{
    margin: 0 1em;
}

@media (min-width: 800px)  {
    #cons-container {
        display: flex;
        flex-direction: row;
    }
    #cons-container div:nth-child(1) {
        margin-right: 2em;
    }
    #cons-container div:nth-child(2) {
        margin-left: 2em;
        margin-top: 2em;
    }
    .dato {
        margin: 0 0.5em 0.5em 40%;
        font-size: 20pt;
    }
}