main {
    margin: 1.5em;
}

p {
    font-size: 14pt;
}

@media (min-width: 600px)  {
    main {
        width: 70%;
        margin: 1.5em auto;
    }
}

#cons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0 ;
}

#cons-container div{
    flex-basis:45%;
}

#contact-image img{
    width: 100%;
}

input[type=text], input[type=email], textarea {
	display: block;
	background-color: var(--gris2);
	color: var(--gris);
	font: 16pt myFont;
	border-radius: 5px;
	border: none;
	width: 100%;
	padding: 5px;
}

label {
    font-size: 10pt;
    font-weight: bold;
    color: var(--white);
}

#contacto {
    margin: 4em 0;
}

#contacto h1{
    font-size: 2em;
}

#datos {
    columns: 3 320px;
    column-gap: 0.5em;
    column-fill: balance;
}

.dato {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 18pt 'blogFont';
    padding: 10px 0;
}

.dato span{
    background: black;
    border-radius: 50%;
}
.dato span img{
    display: block;
    padding: 10px;
}
.dato > div{
    margin-left: 1em;
}

#datos a {
    display: block;
    text-decoration: none;
    color: var(--black);
}

#datos a:hover {
    transform: scale(1.1);
}

@media (min-width: 800px)  {
    #cons-container {
        display: flex;
        flex-direction: row;
    }
}