#logo {
	width: fit-content;
	margin: 1em auto;
}

#sky {
	display: block;
	width: 52%;
	height: 400px;
	margin: auto;
	position: relative;
}

.star {
	transform-origin: center;
	transition: transform 0.5s;
}

.star:hover {
	transform: scale(1.3);
	background-color: white;
}
.star:hover:after {
	color: white;
}