header {
	background-image: url(../media/background.jpg);
	background-size: cover;
	background-color: black;
	padding-bottom: 2em;
}

#logo {
	text-align: center;
	padding: 1em;
}

#logo img{
	width: 40vh;
}

#sky {
	display: flex;
	flex-direction: row;
}

#gif1, #gif2 {
	display: none;
}

#ursa {
	display: block;
	width: 78vw;
	height: 43.5vw;
	position: relative;
	margin: auto;
}

@media (min-width: 600px) {
	#ursa {
		width: 52vw;
		height: 29vw;
	}
	#logo img{
		width: 80vh;
	}
	#gif1, #gif2 {
		display: inline;
		width: 11vw;
		margin: 0 5vw;
	}
}

#star_path {
	width: 100%;
}

.star {
	transform-origin: center;
	transition: transform 0.5s;
	transform: translateX(-50%) translateY(-50%);
}

.star:hover {
	transform: scale(1.3) translateX(-50%) translateY(-50%);
	background-color: white;
}
.star:hover a {
	color: white;
}