@font-face {
	font-family: "myFont";
	src: url('../media/babydoll.woff') format('woff'),
       url('../media/babydoll.ttf') format('truetype');
}

body {
	margin: 0;
	background-color: yellowgreen;
}

@media (min-width: 600px) {
	body {
		background-color: white;
	}
}