@font-face {
	font-family: "myFont";
	src: url('../media/fonts/babydoll.woff') format('woff');
}
@font-face {
	font-family: "blogFont";
	src: url('../media/fonts/supernettcn.woff') format('woff');
}
:root {
	--texto1: #000000;
	--texto2: #FFFFFF;
	--hover: #b3b3b3;
	--enfasis1: #C58BFF;
	--enfasis2: #484848;
	--gris: #5C5C5C;
	--gris2: #d9d9d9;
}
::-webkit-scrollbar {
	width: 0;
}
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Baby Doll", "myFont";
}
h1 b{
	color: var(--enfasis1);
}
main p {
	color: var(--enfasis2);
}
footer {
	background-image: url(../media/pattern.png);
	text-align: center;
	color: var(--hover);
	font-size: 13pt;
	padding: 2em 1em;
}
footer a img {
    margin: 0 1em;
}
#footer_navbar a{
	text-decoration: none;
	color: var(--texto2);
}
#footer_navbar a:hover{
	color: var(--hover);
}
#footer_navbar {
	padding: 1em 0;
}
footer #copyright{
	margin: 0;
}
input[type=submit] {
	display: block;
	font: 16pt myFont;
	text-decoration: none;
	background-color: black;
	color: white;
	margin: 0.5em auto;
	padding: 0.5em 1em;
	border: 4px solid var(--gris2);
	border-radius: 22px;
}
input[type=submit]:hover {
	background-color: var(--gris2);
	color: black;
	border-color: black;
} 
@media (min-width: 600px) {
	.social_media {
		height: 35px;
	}
}