header {
    padding-bottom: 1em;
}
main {
    width: 100%
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.historytext, .historyimg {
    flex: 1;
}

.historytext {
    padding: 2em;
}

.historytext div{
    color: var(--gris);
    font-weight: bold;
    font-size: 14pt;
}

.historytext div i{
    color: var(--enfasis1);
    font-weight: bold;
    font-size: 14pt;
}

.myimg {
    display:block;
    width: 100%;
}

.historytext b{
    color: var(--enfasis1);
}

@media (min-width: 800px) {
	.container {
        flex-direction: row;
    }
    .container:nth-child(even) {
        flex-direction: row-reverse;
    }
    .myimg {
        width: 90%;
        margin: 1em auto;
    }
    main {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
	.container {
        flex-direction: row;
    }
    .container:nth-child(even) {
        flex-direction: row-reverse;
    }
    .myimg {
        width: 75%;
        margin: 1em auto;
    }
    main {
        width: 75%;
        margin: 0 auto;
    }
}