main {
    padding: 5em 0;
}

.container {
    display: flex;
    width: 75%;
    margin: 0 auto 5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > div{
    flex-basis: 45%;
}

.container img{
    display: block;
    width: 100%;
    margin: 2em auto;
    padding: 1.5em;
}

.mant-text{
    color: var(--gris);
}

main a{
    display: block;
    text-decoration: none;
    color: var(--enfasis1);
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

main a:hover{transform: scale(1.2);}

@media (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .container img{
        display:block;
        margin: auto;
    }
    main a {
        font-size: 32pt;
    }
}